@media screen and (max-width:768px){
   #cabecera{
       width: 40%;
   }
   .imagenInicio{
       position: relative;
       top: 90px;
       width:100%;
       height: 300px;
      display: none;
   }
   .primeraParte{
       margin-top: 20px;
   }
   .primeraParte div{
       display: block;
       width: 100%;
       margin-left: center;
   }
   .primeraParte div h1{
       background-image: url(../images/img1recortada.jpeg);
       background-attachment: fixed;
       background-size: cover;
       background-position-x: -160px;
       color: #fff;
       -webkit-text-fill-color: black;
       -webkit-text-stroke: 1px;
   }
   .primeraParte div p{
       background-image: url(../images/img1recortada.jpeg);
       background-attachment: fixed;
       background-size: cover;
       background-position-x: -160px;
       color: rgb(94, 160, 105);
       font-family: 'titulo';
       font-size: 28px;
       -webkit-text-fill-color: rgb(0, 0, 0);
       -webkit-text-stroke: 1px;
   }
   .primeraParte div p, .primeraParte div h1{
        padding: 5px;
        width: 90%;
        margin-left: 5%;
    }
    .boton{
        width: 90%;
        margin-left: 5%;
        margin-top: 20px;
    }   
    .primeraParte img{
        display: none;
    }
    .productos{
        background: rgba(133, 133, 133, 0.479);
    }
    .productos h1{
        width: 90%;
        margin-left: 5%;
        font-size: 40px;
        background-color: rgba(137, 43, 226, 0.554);
    }
    .pord{
        width: 90%;
        margin-left: 5%;
    }
    .quitar{
        display: none;
    }
    .vender{
        overflow: hidden;
    }
    #segunda{
        width: 100%;
        height: auto;
    }
    #botondos{
        width: 100%;
        margin-left: 0;
        position: static;
    }
    .dinero{
        border-top: 3px solid #000;
        border-bottom: 3px solid #000;
        background-color: bisque;
        box-shadow: 10px 10px 10px #000;
    }
    .dinero div img{
        position: static;
        width: 70%;
    }
    .dinero div p{
        font-size: 20px;
        padding-right: 20px;
    }
    #botontres{
        position: static;
        margin-top: 0;
        width: 90%;
    }
}
