@media screen and (max-width:992px){
   #cabecera{
       width: 35%;
   }
   .imagenInicio{
       height: auto;
   }
   .primeraParte{
       width: 100%;
       margin: 0 0;
       margin-top: 20px;
   }
   .primeraParte div{
       display: inline-block;
       width: 45%;
   }
   .primeraParte div p, .primeraParte div h1{
        box-shadow: 10px 10px 10px rgb(110, 112, 112);
        border-left: 5px solid #8ad12c;
        border-radius: 20px;
        padding: 10px;
        width: 100%;
        margin-left: 5%;
    }
    .primeraParte img{
        width: 100%;
        margin-left: 15%;
    }
    .boton{
        width: 100%;
        margin-left: 15%;
    }
    .pord{
        width: 40%;
    }
    #primera{
        right: 10px;
        height: 90%;
    }
    #botondos{
        bottom:45px;
        left: -100px;
    }
    .dinero div img{
        bottom: 0;
    }
    #botontres{
        position: static;
        width: 90%;
        margin-left:5%;
    }
}
